.colunista {
    padding: 22px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 165px 1fr;
    grid-gap: 48px;
    background-color: $cor_auxiliar;
    align-items: center;
    overflow: hidden;

    &__img {
        text-align: center;

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 8px;
            margin-bottom: 16px;
            filter: grayscale(100%);
            transition: filter 0.3s;
        }

        h3 {
            font-weight: 700;
            font-size: var(--fonte-16px);
            line-height: 1.375em;
            color: #222222;
            max-width: 15ch;
            margin: 0 auto;
            transition: color 0.3s;
        }
    }

    &__titulo {
        font-weight: 700;
        font-size: var(--fonte-14px);
        color: $cor_site;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    &__subtitulo {
        font-weight: 700;
        font-size: var(--fonte-20px);
        line-height: 1.2em;
        color: #222222;
        margin-bottom: 8px;
    }

    &__texto {
        font-weight: 700;
        font-size: var(--fonte-16px);
        line-height: 1.375em;
        color: #707070;
        max-width: 35ch;
    }

    @include media-breakpoint-up(lg) {
        &:hover &__img {
            img {
                filter: grayscale(0);
            }

            h3 {
                color: $cor_site;
            }
        }
    }
}