[js-swiper-colunistas] {
    @include media-breakpoint-down(sm) {
        overflow: visible;
    }
}

.colunistas{
    padding: 64px 0;
    @include media-breakpoint-down(lg){
        padding: 24px 0;
    }
}

.colunista__content {
    width: 408px;
}

[js-swiper-colunistas] .swiper-slide {
    max-width: calc(16.667% - 20px);
    transition: max-width 0.5s;

    @include media-breakpoint-up(lg) {
        &:hover {
            max-width: calc(50% - 12px);
        }
    }

    @include media-breakpoint-down(xxl) {
        max-width: calc(20% - 19.2px);

        @include media-breakpoint-up(lg) {
            &:hover {
                max-width: calc(60% - 9.6px);
            }
        }
    }

    @include media-breakpoint-down(xl) {
        max-width: calc(25% - 18px);

        @include media-breakpoint-up(lg) {
            &:hover {
                max-width: calc(75% - 6px);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        max-width: calc(33.336% - 16px);
    }

    @include media-breakpoint-down(md) {
        max-width: calc(50% - 12px);
    }

    @include media-breakpoint-down(sm) {
        max-width: 209px;
    }

    .colunista {
        @include media-breakpoint-down(xxl) {
            grid-template-columns: 160px 1fr;
        }

        @include media-breakpoint-down(xl) {
            grid-template-columns: 172px 1fr;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: 202px 1fr;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 165px 1fr;
        }
    }
}