.linha-titulo-navegacao {
    --cor-bg: #{$cor_auxiliar};
    --cor-fonte: #{$cor_site};
    background-color: var(--cor-bg);
    color: $cor_site;
    padding: 1rem 1rem 1rem 1.375rem;
    border-radius: 0.5rem;

    &__titulo {
        font-size: var(--fonte-28px);
        line-height: 1em;
        color: var(--cor-fonte);
        text-transform: uppercase;
        font-weight: 700;
    }

    .dark & {
        --cor-bg: #{$cor_fonte};
        --cor-fonte: #{$cor_secundaria};
    }
}