.post {
    --cor-texto: #{$cor_fonte};
    --cor-fundo: #{$cor_auxiliar};
    --cor-fundo-hover: #{$cor_auxiliar};
    --cor-categoria: #{$cor_site};
    --cor-comentarios: #fff;

    position: relative;
    display: block;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
    border-radius: 8px 8px 4px 4px;
    overflow: hidden;
    height: 100%;
    transition: background-color 0.3s;

    @include media-breakpoint-up(lg) {
        &:hover {
            background-color: var(--cor-fundo-hover);
        }
    }

    &__img {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 0.623;

        img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 5px var(--cor-categoria) solid;
            border-radius: 8px 8px 0 0;
            z-index: 2;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    @include media-breakpoint-up(lg) {
        &:hover &__img::after {
            opacity: 1;
        }
    }

    &__comentarios {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: var(--cor-comentarios);
        font-weight: 700;
        font-size: var(--fonte-12px);
        line-height: 1em;
        display: flex;
        align-items: center;
        gap: 0.667em;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3s;

        svg {
            width: 1.5em;
            aspect-ratio: 1 /1;
            fill: currentColor;
            margin-top: -0.2em;
        }
    }

    @include media-breakpoint-up(lg) {
        &:hover &__comentarios {
            opacity: 1;
        }
    }

    &__categoria {
        font-weight: 700;
        font-size: var(--fonte-12px);
        line-height: 1em;
        text-transform: uppercase;
        color: var(--cor-categoria);
        margin-bottom: 0.5rem;
    }

    &__titulo {
        font-weight: 700;
        font-size: var(--fonte-16px);
        line-height: 1.375em;
        height: 2.75em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    &__content {
        padding: 1rem;
    }

    &.video {
        &::before {
            content: " ";
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 33px;
            aspect-ratio: 1 / 1;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0C7.38817 0 0 7.38817 0 16.5C0 25.6118 7.38817 33 16.5 33C25.6118 33 33 25.6118 33 16.5C33 7.38817 25.6118 0 16.5 0ZM21.8073 16.7541L13.7635 22.6065C13.7194 22.6382 13.6674 22.6571 13.6133 22.6611C13.5591 22.6652 13.5049 22.6543 13.4566 22.6295C13.4082 22.6048 13.3676 22.5672 13.3393 22.5209C13.3109 22.4746 13.2958 22.4214 13.2958 22.3671V10.6698C13.2956 10.6153 13.3105 10.5619 13.3388 10.5155C13.3671 10.469 13.4077 10.4313 13.4562 10.4065C13.5046 10.3817 13.559 10.3708 13.6132 10.375C13.6674 10.3792 13.7195 10.3984 13.7635 10.4304L21.8073 16.279C21.8453 16.3059 21.8763 16.3415 21.8977 16.3828C21.919 16.4242 21.9302 16.47 21.9302 16.5166C21.9302 16.5631 21.919 16.609 21.8977 16.6503C21.8763 16.6917 21.8453 16.7273 21.8073 16.7541Z' fill='white'/%3E%3C/svg%3E");
            @include background-config(no-repeat, center, contain, transparent);
            z-index: 2;
        }

        .post__img::after {
            background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 0C7.38817 0 0 7.38817 0 16.5C0 25.6118 7.38817 33 16.5 33C25.6118 33 33 25.6118 33 16.5C33 7.38817 25.6118 0 16.5 0ZM21.8073 16.7541L13.7635 22.6065C13.7194 22.6382 13.6674 22.6571 13.6133 22.6611C13.5591 22.6652 13.5049 22.6543 13.4566 22.6295C13.4082 22.6048 13.3676 22.5672 13.3393 22.5209C13.3109 22.4746 13.2958 22.4214 13.2958 22.3671V10.6698C13.2956 10.6153 13.3105 10.5619 13.3388 10.5155C13.3671 10.469 13.4077 10.4313 13.4562 10.4065C13.5046 10.3817 13.559 10.3708 13.6132 10.375C13.6674 10.3792 13.7195 10.3984 13.7635 10.4304L21.8073 16.279C21.8453 16.3059 21.8763 16.3415 21.8977 16.3828C21.919 16.4242 21.9302 16.47 21.9302 16.5166C21.9302 16.5631 21.919 16.609 21.8977 16.6503C21.8763 16.6917 21.8453 16.7273 21.8073 16.7541Z' fill='%23ED686B'/%3E%3C/svg%3E");
            @include background-config(no-repeat, top calc(1rem - 5px) left calc(1rem - 5px), 33px, rgba(0, 0, 0, 0.5));
        }
    }

    .dark & {
        --cor-texto: #fff;
        --cor-fundo: #{$cor_fonte};
        --cor-categoria: #{$cor_secundaria};
        --cor-comentarios: #F6D0D1;
        --cor-fundo-hover: #222;
    }

    @include media-breakpoint-up(lg) {
        .post-destacado & {
            border-radius: 8px;
            height: 100%;

            &::before {
                display: none;
            }

            &__content {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0 42px 50px;
                z-index: 10;
            }

            &__img {
                aspect-ratio: 1 / 0.62;
                height: 100%;

                &::after {
                    border-radius: 8px;
                }
            }

            &.video .post__img::after {
                background-image: none;
            }

            &__titulo {
                height: unset;
                max-width: 48ch;
                font-size: var(--fonte-26px);
            }

            &__comentarios {
                display: none;
            }

            &.video .post__content::before {
                content: " ";
                display: block;
                position: relative;
                width: 60px;
                aspect-ratio: 1 / 1;
                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30 0C13.433 0 0 13.433 0 30C0 46.567 13.433 60 30 60C46.567 60 60 46.567 60 30C60 13.433 46.567 0 30 0ZM39.6496 30.4621L25.0246 41.1027C24.9444 41.1603 24.8499 41.1947 24.7514 41.2021C24.653 41.2095 24.5544 41.1896 24.4665 41.1446C24.3786 41.0996 24.3048 41.0313 24.2532 40.9471C24.2016 40.8629 24.1743 40.7661 24.1741 40.6674V19.3996C24.1738 19.3006 24.2009 19.2035 24.2523 19.1191C24.3038 19.0346 24.3777 18.966 24.4657 18.9209C24.5538 18.8758 24.6526 18.856 24.7513 18.8637C24.8499 18.8713 24.9445 18.9062 25.0246 18.9643L39.6496 29.5982C39.7186 29.6471 39.775 29.7118 39.8139 29.787C39.8528 29.8621 39.8731 29.9455 39.8731 30.0301C39.8731 30.1148 39.8528 30.1981 39.8139 30.2733C39.775 30.3485 39.7186 30.4132 39.6496 30.4621Z' fill='%23ED686B'/%3E%3C/svg%3E");
                @include background-config(no-repeat, center, contain, transparent);
                filter: grayscale(100%) brightness(3);
                margin-bottom: 1rem;
                transition: filter 0.3s;
            }

            &.video:hover .post__content::before {
                filter: grayscale(0) brightness(1);
            }
        }
    }
}