.swiper-navegacao {
    display: flex;
    gap: 12px;
    --cor-borda-botao: #A8A8A8;
    --cor-bg-botao: transparent;
    --cor-seta: #707070;

    button {
        @extend %centralizar;
        background: var(--cor-bg-botao);
        border: 1px solid var(--cor-borda-botao);
        border-radius: 4px;
        width: 48px;
        aspect-ratio: 1 / 1;
        border-radius: 4px;
        transition: opacity 0.3s;
        cursor: pointer;
        transition: 0.3s;

        svg {
            width: 1rem;
            aspect-ratio: 1 / 1;
            fill: var(--cor-seta);
        }

        &.prev {
            svg {
                transform: rotate(180deg);
            }
        }

        &.swiper-button-disabled {
            opacity: 0.3;
        }

        &:hover:not(.swiper-button-disabled) {
            --cor-borda-botao: #A8A8A8;
            --cor-bg-botao: #A8A8A8;
            --cor-seta: #707070;
        }
    }

    .dark & {
        --cor-borda-botao: rgba(0, 0, 0, 0.7);
        --cor-bg-botao: rgba(0, 0, 0, 0.7);
        --cor-seta: #F6D0D1;

        button:hover:not(.swiper-button-disabled) {
            --cor-borda-botao: #222222;
            --cor-bg-botao: #222222;
            --cor-seta: #F6D0D1;
        }
    }

    @include media-breakpoint-up(lg) {
        &.vertical button {
            transform: rotate(90deg);
        }
    }
}