.videos {
    position: relative;

    @include media-breakpoint-up(lg) {
        padding: 64px 52px;

        &::before {
            content: " ";
            position: absolute;
            top: 104px;
            left: calc(var(--tamanho-borda) - 50px);
            bottom: 0;
            width: calc(100% + 50px + var(--tamanho-borda));
            border-radius: 8px;
            background: $cor-gradiente;
            z-index: -1
        }
    }

    @include media-breakpoint-down(lg) {
        background: $cor-gradiente;
        padding: 24px 0;
        margin-bottom: 24px;
    }

    @include media-breakpoint-up(lg) {
        .swiper,
        .post-destacado .post {
            max-height: 616px;

            @include media-breakpoint-down(xxl) {
                max-height: 656px;
            }

            @include media-breakpoint-down(xl) {
                max-height: 575px;
            }
        }
    }
}

[js-swiper-videos] {
    @include media-breakpoint-down(lg) {
        overflow: visible;
        margin-top: 24px;
    }
}