/*!
Theme Name: Teste Seox
Text Domain: seox
Version: 1.0
Description: Tema desenvolvido especialmente para Teste Seox. Todos os direitos reservados.
Author: Thavi
Author URI: https://thavi.dev/
Theme URI: https://seox.com.br/
License: Privada
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import "config/configs";
@import "config/vars";

html {
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    font-weight: 700;
    color: $cor_fonte;
    font-size: 1rem;
}

body,
button,
input {
    font-family: $fonte-padrao;
}

main {
    width: 100%;
    overflow: hidden;
}

.hidden {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
}

.mb-32 {
    margin-bottom: 2rem;
}

.padrao-botao {
    font-weight: 700;
    font-size: var(--fonte-14px);
    display: flex;
    align-items: center;
    gap: 12px;
    color: #707070;
    text-transform: uppercase;
    line-height: 45px;
    border: 1.5px solid #707070;
    padding: 0 1em;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s, border 0.3s;

    svg{
        width: 1em;
        aspect-ratio:  1 /1;
        fill: currentColor;
    }

    .dark &:hover{
        background-color: #222;
        color: $cor_secundaria;
        border-color: #222;
    }
}