@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --tamanho-container: calc(100vw - calc(#{$grid-gutter-width} * 2));
    @include media-breakpoint-up(sm) {
        --tamanho-container: 540px;
    }
    @include media-breakpoint-up(md) {
        --tamanho-container: 720px;
    }
    @include media-breakpoint-up(lg) {
        --tamanho-container: 960px;
    }
    @include media-breakpoint-up(xl) {
        --tamanho-container: 1140px;
    }
    @include media-breakpoint-up(xxl) {
        --tamanho-container: 1380px;
    }
    --tamanho-borda: calc(calc(100vw - var(--tamanho-container) + #{$grid-gutter-width}) / 2);
    --tamanho-coluna: calc(calc(var(--tamanho-container) - 30px) / #{$grid-columns});
    
    --fonte-12px: 0.75rem;
    --fonte-14px: 0.875rem;
    --fonte-16px: 1rem;
    --fonte-20px: 1.25rem;
    --fonte-26px: 1.625rem;
    --fonte-28px: 1.75rem;
}

$fonte_padrao: 'Open Sans', sans-serif;
$cor_fonte: #333333;
$cor_site: #9A0000;
$cor_secundaria: #ED686B;
$cor_auxiliar: #E9E9E9;
$cor-gradiente: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);

%fundo_absoluto {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

%centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

%estilo-scroll{
    scrollbar-width: thin;
    scrollbar-color: #D8E9EF transparent;

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #D8E9EF;
    }
}

@mixin background-config($repeat, $position, $size, $color) {
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
    background-color: $color;
}